$def with (page)
$var cssfiles: /static/indexstyle.css

<!DOCTYPE html>
<html>
    <meta charset = "UTF-8">
    <head>
        <title>MapleUnity Web Project</title>
        <link href= "$self.cssfiles" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="header">
            <a href="home"><img src="/static/logo.jpg" alt=""></a>
        </div>
        <div class="topnav">
            <a class="active" href="home"><i class="fa fa-home"> Home</i></a>
            <a href="info"><i class="fa fa-info-circle" aria-hidden="true"> Info</i></a>
            <a href="download"><i class="fa fa-download" aria-hidden="true"> Download</i></a>
            <a href="rankings"><i class="fa fa-trophy" aria-hidden="true"> Rankings</i></a>
            <a href="vote"><i class="fa fa-thumbs-up">Vote</i></a>
            <a href="donate"><i class="fa fa-money"> Donate</i></a>
            <a href="forum"><i class="fa fa-book"> Forum</i></a>
            <a href="register"><i class="fa fa-user-plus" aria-hidden="true"> Register</i></a>
            <a href="login"><i class="fa fa-sign-in" aria-hidden="true"> Login</i></a>
        </div>
        $:page
    </body>
</html>